# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-xrjv1.desktop

[Desktop Entry]
Comment=Lightweight XRJV1 Client
Exec=electrum-xrjv1 %u
GenericName[en_US]=XRJV1 Wallet
GenericName=XRJV1 Wallet
Icon=electrum
Name[en_US]=Electrum XRJV1 Wallet
Name=Electrum XRJV1 Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/xrj;

